body {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 4vh;
}

.wrap {
  color: white;
}

/* .wrap2 {
  color: white;
  writing-mode: vertical-rl;
  text-align: center;
  position: absolute;
} */

a:link, a:active, a:after, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

iframe {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: normal;
  padding: 35vh;
  font-family: 'DM Sans', sans-serif;
  line-height: 6vh;
  text-align: center;
}

p {
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  font-size: 2vh;
}
